.grid {
  margin: 40px;
}

.grid td {
  border: 1px solid #000;
  width: 36px;
  height: 36px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
}

.grid td.highlighted {
  background-color: #aaa;
}
.grid td:hover {
  font-weight: bold;
}

.words tr {
  cursor: pointer;
}
.words tr:hover {
  background-color: #aaa;
}
.words td, 
.words th {
  border: 1px solid #666;
  padding: 5px;
}
